<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create Room</title>
</head>
<body>
<h1>Create a New Room</h1>
<form th:action="@{/rooms}" th:object="${room}" method="post">
  <fieldset th:style="'width: 50ch;'">
    <fieldset>
      <label>Name:</label><br/>
      <input type="text" th:field="*{name}" required th:style="'width: 40ch;'"/>
      <br/>

      <label>Status:</label></br>
      <select th:field="*{roomStatus}" th:style="'width: 40ch;'">
        <option th:each="status : ${T(com.conference.platform.backoffice.ui.view.RoomStatus).values()}"
                th:value="${status}" th:text="${status}"/>
      </select>
      <br/>

      <label>Capacity:</label><br/>
      <input type="number" th:field="*{capacity}" min="1" required th:style="'width: 40ch;'"/>
      <br/>
    </fieldset>
    <br/>


    <fieldset>
      <legend>Location</legend>
      <label>Address Line 1:</label><br/>
        <input type="text" th:field="*{addressLine1}" required th:style="'width: 40ch;'"/>
      <br/>
      <label>Address Line 2:</label><br/>
        <input type="text" th:field="*{addressLine2}" required th:style="'width: 40ch;'"/>
      <br/>
      <label>City:</label><br/>
        <input type="text" th:field="*{city}" required th:style="'width: 40ch;'"/>
      <br/>
    </fieldset>
  </fieldset>
  <br/>

  <button type="submit">Submit</button>
</form>
</body>
</html>
