<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create Conference</title>
</head>
<body>
<h1>Create a New Conference</h1>
<form th:action="@{/conferences}" th:object="${conference}" method="post">
  <fieldset th:style="'width: 50ch;'">

    <label>Code:</label><br/>
    <input type="text" th:field="*{code}" disabled th:style="'width: 40ch;'"/>
    <br/><br/>

    <label>Title:</label><br/>
    <input type="text" th:field="*{title}" required th:style="'width: 40ch;'"/>
    <br/><br/>

    <label>Start Time:</label><br/>
    <input type="datetime-local" th:field="*{startTime}" required th:style="'width: 40ch;'"/>
    <br/><br/>

    <label>End Time:</label><br/>
    <input type="datetime-local" th:field="*{endTime}" required th:style="'width: 40ch;'"/>
    <br/><br/>

    <label>Room Code:</label><br/>
    <input type="text" th:field="*{roomCode}" required th:style="'width: 40ch;'"/>
    <br/><br/>

    <label>Total Capacity:</label><br/>
    <input type="number" disabled th:style="'width: 40ch;'"/>
    <br/><br/>

  </fieldset>
  <br/>
  <button type="submit">Submit</button>
</form>

<div th:if="${createdConference}">
  <h2>Conference Created</h2>
  <p>Code: <span th:text="${createdConference.code}"></span></p>
  <p>Title: <span th:text="${createdConference.title}"></span></p>
  <p>Start Time: <span th:text="${#temporals.format(createdConference.startTime, 'yyyy-MM-dd HH:mm')}"></span></p>
  <p>End Time: <span th:text="${#temporals.format(createdConference.endTime, 'yyyy-MM-dd HH:mm')}"></span></p>
  <p>Room Code: <span th:text="${createdConference.roomCode}"></span></p>
  <p>Total Capacity: <span th:text="${createdConference.totalCapacity}"></span></p>
  <p>Status: <span th:text="${createdConference.status}"></span></p>
</div>
</body>
</html>
